a {
  text-decoration: none;
}
ul {
  width: 100%;
  background-color: pink;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  z-index: 1;
}
li {
  list-style-type: none;
  display: inline;
}
.outer {
  position: relative;
  top: 25px;
  margin: auto;
  background-color: black;
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner {
  background-color: rgb(142, 177, 177);
  height: 100px;
  width: 100px;
}
.fixed {
  position: fixed;
  width: 100%;
  background-color: red;
  display: flex;
  justify-content: center;
  bottom: 0;
  z-index: 1;
}
#sticky {
  margin: auto;
  position: sticky;
  top: 0;
  background-color: rgb(76, 183, 249);
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition-property:all;
  transition-duration:2s;
  transition-timing-function:ease-in;
  transition-delay:2s;
   */
  transition: all 0.5s ease-in 0s;
}
#sticky:hover {
  background-color: blueviolet;
  color: white;
  font-size: large;
  transform: rotate(360deg);
}
#sticky:active {
  background-color: black;
}
